:root {
    --clr-primary-2: #ebeef3;
    --clr-primary-1: #b9ddff;
    --clr-primary-base: #75aadb;
    --clr-primary--1: #3f7fbd;

    --clr-secondary: #f6b40e;
    --clr-white: #ffffff;
    --clr-text: #3d3d3d;
    --cr-bg-1: #383b42;
    --clr-bg-base: #22252c;
    --cr-bg--1: #252936;
}

:root {
    --main-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: var(--main-font);
    color: var(--clr-white);
    background-color: var(--clr-bg-base);
}

header {
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 999px;
    background: linear-gradient(    
    135deg,
    var(--clr-primary--1),
    var(--clr-primary-base),
    var(--clr-primary-1));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 73px;
}

h1 {
    font-size: 1.6rem;
    font-weight: bold;
    margin: 0;

}

.main-nav {
    display: flex;
    gap: 1rem;
}

.main-nav a {
    color: var(--clr-white);
    text-decoration: none;
    padding: 0.6rem 1.2rem;
    border-radius: 999px;
}

.main-nav a:hover {
    background-color: var(--clr-white);
    color: var(--clr-primary--1)
}

.section-gallery {
    background-color: var(--cr-bg-1);
    border-radius: 10px;
    margin: 1rem;
    padding: 1.5rem;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 1.5rem;
}

.images img {

    width: 100%;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.2s;
    aspect-ratio: 1/1;
}

.images img:hover{
    transform: scale(1.03);
}

.main-editor{
    display:flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
}

.section-editor

.canvas-container{
    
    border-radius: 24px;
    border: 6px solid var(--clr-text);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
}

.canvas-editor{
max-width: 100%;
border-radius: 20px;
display: block;
}

.controls-editor{
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 24px;
    background-color:var(--cr-bg-1);
}

.txt-input{
width: 100%;
padding: 0.9rem 1.2rem;
border: none;
font-family: var(--main-font);
font-size: 1.4rem;
color: var(-clr-primary-2);
border-radius: 28px;
}

.controls-editor input:focus{
outline: 3px solid var(--clr-primary--1)

}

.txt-input::placeholder{
    color: var(--clr-text);
}
.hidden {
    display: none;
}

