@media (max-width: 920px) {

    body {
        overflow-y: auto;
    }


    header {
        margin: 0;
        width: 100%;
        border-radius: 0;
        padding: 1rem 2rem;
    }

    .images {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.7rem;
        height: auto;
        overflow: visible;
        padding-inline: 1rem;
    }

    .main-editor {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        height: auto;
        overflow: visible;

    }

    .controls-editor,
    .canvas-container {
        width: 100%;
        max-width: 500px;
    }

    .canvas-editor {
        width: 100%;
        height: auto;
    }


    .hamburger-nav {
        display: block;

        background: none;
        border: none;
        background-color: var(--clr-white);
        color: var(--clr-text-2);
        font-size: 1.4rem;
        cursor: pointer;
        font-weight: 600;
        border-radius: 999px;

    }

    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        min-width: 200px;
        z-index: 10;
        height: 100vh;
        background-color: var(--clr-bg-base);
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        /* transition: transform .6s, box-shadow .6s; */
        transition: transform .4s ease;
        box-shadow: -6px 0 30px rgba(0, 0, 0, .25);
        gap: 0;
    }

    .main-nav.open {
        box-shadow: -6px 0px 30px rgb(0 0 0 / 25%);
        transform: translateX(0);
    }

    .main-nav a {
        padding: 1rem 2rem;
        color: var(--clr-white);
        text-decoration: none;
        cursor: pointer;
        height: 100px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        background-color: transparent;


    }

    .main-nav a.active {
        background-color: var(--clr-white);
        color: var(--clr-text-2);
        box-shadow: none;
        height: 100px;

    }

    body.menu-open .main-screen {
        box-shadow: -6px 0px 30px rgb(0 0 0 / 25%);
        transform: translateX(0);
    }

    .main-screen {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, .55);
        opacity: 0;
        pointer-events: none;
        transition: .4s;
        z-index: 5;
    }

    .main-screen.open {
        opacity: 1;
        pointer-events: auto;
    }

    .section-gallery,
    .section-editor {
        height: calc(100vh - 63px);
        overflow-y: auto;
    }

    .section-gallery {
        margin: 0;
        padding: 1rem;
        border-radius: 8px 8px 0 0;
    }

    .section-editor {
        margin: 0;
    }

    .position {
        gap: 0.5rem;
    }

    .btn {
        width: 38px;
        height: 38px;
    }

    .font-select {
        width: 78%;
    }

.font-size{
    gap: 0.5rem;
}


    .section-gallery::-webkit-scrollbar,
    .section-editor::-webkit-scrollbar {
        width: 13px;
    }

    .section-gallery::-webkit-scrollbar-track,
    .section-editor::-webkit-scrollbar-track {
        background: var(--clr-text-2);
        border-radius: 999px;
    }

    .section-gallery::-webkit-scrollbar-thumb,
    .section-editor::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg,
                var(--clr-primary-base),
                var(--clr-primary--1));
        border-radius: 999px;
    }

}